{% extends 'liga_de_futbol/base.html' %}

{% block header %}
    Lista de estadios 
{% endblock header %}

{% block main %} 
    <a href="{% url 'estadio_create' %}"><button>Crear estadio</button></a>
    {% for object in object_list %}
        <li>
            {{ object.nombre }} con capacidad para {{ object.capacidad}} personas
            <a href="{% url 'estadio_detail' object.id %}">Detalle</a>
            <a href="{% url 'estadio_update' object.id %}">Editar</a>
            <a href="{% url 'estadio_delete' object.id %}">Borrar</a>
        </li>
    {% endfor %}
    <a href="{% url 'index' %}"><button>Volver</button></a>
{% endblock main %}