{% extends 'liga_de_futbol/base.html' %}

{% block header %}
    Lista de jugadores 
{% endblock header %}

{% block main %}  
    <button><a href="{% url 'jugador_create' %}">Crear Jugador</a></button>
    <form action="{% url 'jugador_list' %}" method="get">
        <input type="text" name="q" placeholder="Buscar...">
        <button type="submit">Buscar</button>
    </form>
    {% for object in object_list %}
        <li>
            {{ object.apellido }}, {{ object.nombre }} ({{ object.club }})
            <a href="{% url 'jugador_detail' object.id %}">Detalle</a>
        </li>
    {% endfor %}
    <button><a href="{% url 'index' %}">Volver</a></button>
{% endblock main %}