{% load static %}
<a href="{% url 'index' %}"><button>Home</button></a>    
{% if user.is_authenticated %}
    <a href="{% url 'equipo_list' %}"><button>Equipos</button></a>    
    <a href="{% url 'jugador_list' %}"><button>Jugadores</button> </a>   
    <a href="{% url 'estadio_list' %}"><button>Estadios</button></a> 
    </button><a href="{% url 'clasificacion' %}"><button>clasificacion</button></a>
    {% if user.usuario.avatar %}
        <img src="{{ user.usuario.avatar.url }}" alt="avatar" height="30px;">
    {% else %}
        <img src="{% static 'liga_de_futbol/img/perfil.png' %}" alt="avatar" height="30px;">
    {% endif %}
    <a href="{% url 'profile' %}"><button>{{ user.username }}</button></a>
    <a href="{% url 'about' %}"><button>Información</button></a>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <a href="{% url 'login' %}"><button>Login</button></a>
{% endif %}
